; bank scraper creds
USER_CODE=BG98920
PASSWORD=pass
IS_BUSINESS_ACCOUNT=false
ISRACARD_ID=123456789
ISRACARD_PASSWORD=pass
ISRACARD_6_DIGITS=123456

; hashavshevet creds
WIZ_COMPANY=company-id
WIZ_KEY=some-long-token

GREEN_INVOICE_ID=id
GREEN_INVOICE_SECRET=secret

CLOUDINARY_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret

; Mesh dev
DEBUG=1

; DB variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=accounter
POSTGRES_SSL='0'

; Authentication
AUTHORIZED_USERS='{"admin":"SECRET","accountant":"SECRET"}'

; Local entities
DEFAULT_FINANCIAL_ENTITY_ID=00000000-0000-0000-0000-000000000000