node_modules/
dist/
.env
.env.template
**/__generated__/
**/__tests__/
**/gql/
.idea/
schema.graphql
docker/

/.husky/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock

.bob/
packages/old-accounter/

.changeset/
CHANGELOG.md
**/.DS_Store
