name: 'Client Publish'
on:
  push:
    paths:
      - 'packages/client/**'
    branches:
      - main
      - prod

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  search-token:
    runs-on: ubuntu-latest
    environment: accounter-fullstack
    outputs:
      api_token_present: ${{ steps.secrets_present.outputs.api_token }}
    steps:
      - name: check for Hive token presence
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        id: secrets_present
        run: echo "api_token=${{ env.CLOUDFLARE_API_TOKEN != '' }}" >> $GITHUB_OUTPUT

  client-publish:
    needs: [search-token]
    if: ${{needs.search-token.outputs.api_token_present == 'true'}}
    runs-on: ubuntu-latest
    environment: accounter-fullstack
    permissions:
      contents: read
      deployments: write
    name: Publish Client to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version

      - name: Install Dependencies
        run: yarn

      - name: Generate GraphQL
        run: yarn generate:graphql

      - name: Build Client
        working-directory: packages/client
        run:
          yarn build  --mode ${{ (github.ref == 'refs/heads/main' && 'staging') || (github.ref ==
          'refs/heads/prod' && 'production') || 'development' }}

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@f0a1cd58cd66095dee69bfa18fa5efd1dde93bca # v1.5.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName:
            ${{ (github.ref == 'refs/heads/main' && 'accounter-staging') || (github.ref ==
            'refs/heads/prod' && 'accounter-prod') || '' }}
          directory: dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          workingDirectory: packages/client
