on:
  workflow_call:
    secrets:
      hiveToken:
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: accounter-fullstack
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2

      - name: schema publish
        env:
          HIVE_TOKEN: ${{ secrets.hiveToken }}
        run: |
          curl -sSL https://graphql-hive.com/install.sh | sh
          hive schema:publish "packages/server/src/modules/*/typeDefs/*.graphql.ts" --github
