on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2

      - name: setup environment
        uses: ./.github/actions/setup
        with:
          localDB: 'false'
          codegen: 'false'
          pgTyped: 'false'

      - name: Lint ESLint
        run: yarn lint
        env:
          NODE_OPTIONS: --max-old-space-size=8192

      - name: Lint Prettier
        run: yarn prettier:check
