on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 2

      - name: setup environment
        uses: ./.github/actions/setup
        with:
          localDB: 'false'
          codegen: 'false'
          pgTyped: 'false'

      - name: Lint ESLint
        run: yarn lint
        env:
          NODE_OPTIONS: --max-old-space-size=8192

      - name: Lint Prettier
        run: yarn prettier:check
