name: pr

env:
  NODE_NO_WARNINGS: true
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  POSTGRES_DB: accounter

on:
  pull_request:
    paths-ignore:
      - .changeset/**/*

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  graphql-breaking-changes:
    name: Hive schema check
    uses: ./.github/workflows/graphql-schema-check.yml
    secrets:
      hiveToken: ${{ secrets.HIVE_TOKEN }}

  validate-schema:
    name: Validate GraphQL schema
    uses: ./.github/workflows/graphql-validation.yml

  dependencies:
    name: Dependencies changesets

    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: setup environment
        uses: ./.github/actions/setup

      - name: Create/Update Changesets
        uses: the-guild-org/changesets-dependencies-action@f11b16181c79e07d62b112c2f32c9db534a9df09 # v1.2.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  compile:
    name: Compile forked PR
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: setup environment
        uses: ./.github/actions/setup

      - name: Build Packages
        shell: bash
        run: yarn build

  snapshot:
    name: Snapshot Release
    needs: [lint, graphql-breaking-changes, validate-schema]
    if: github.event.pull_request.head.repo.full_name == github.repository
    uses: ./.github/workflows/publish.yml
    with:
      type: snapshot
      ref: ${{ github.event.pull_request.head.sha }}
    secrets: inherit
