name: Release

env:
  NODE_NO_WARNINGS: true
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  POSTGRES_DB: accounter

on:
  push:
    branches:
      - prod

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  stable:
    runs-on: ubuntu-24.04
    outputs:
      published: ${{ steps.changesets.outputs.published }}
      publishedPackages: ${{ steps.changesets.outputs.publishedPackages }}
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@3155a141048f8f89c06b4cdae32e7853e97536bc # 0.13.0
        continue-on-error: true
        with:
          access_token: ${{ github.token }}

      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: setup environment
        uses: ./.github/actions/setup

      - name: Build packages
        shell: bash
        run: yarn build

      - name: Set release date
        id: vars
        shell: bash
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: release / pull_request
        id: changesets
        uses: dotansimha/changesets-action@069996e9be15531bd598272996fa23853d61590e # v1.5.2
        with:
          publish: 'yarn changeset publish'
          version: 'yarn changeset version'
          commit: 'chore(release): update monorepo packages versions'
          title: 'Upcoming Release Changes'
          createGithubReleases: aggregate
          githubReleaseName: ${{ steps.vars.outputs.date }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
