name: Release

env:
  NODE_NO_WARNINGS: true
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  POSTGRES_DB: accounter

on:
  push:
    branches:
      - prod

permissions:
  contents: write
  pull-requests: write
  packages: write
  id-token: write

jobs:
  stable:
    name: Stable Release
    uses: ./.github/workflows/publish.yml
    with:
      type: stable
    secrets: inherit
